* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#services-page {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}

#img-prevs {
  /* border: 1px solid green; */
  /* columns: 3 250px; */
  /* gap: 15px; */
  margin-bottom: 6vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#services-container {
  max-width: 800px;
  color: rgb(101, 101, 101);
}

#services {
  line-height: 1.8;
  font-family: "inter", sans-serif;
  /* font-weight: 100; */
  font-style: normal;
  padding: 20px;
}

.service-size {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid rgba(128, 128, 128, 0.432);
}

.aligned-right {
  align-items: end;
}

.service-size-title {
  color: black;
  padding-right: 8px;
}

#service-types {
  max-width: 800px;
  padding: 20px;
  width: 100%;
  /* margin-top: 10px; */
}

.services-title {
  font-size: 48px;
  font-weight: 700;
  letter-spacing: .4px;
  color: var(--primaryLav);
  margin-bottom: 20px;
}

.service-link {
  text-decoration: none;
  /* color: var(--primaryLav); */
  color: black;
}

/* .service-link:hover {
  color: var(--darkerLav);
} */

.service-type {
  border: .6px solid rgba(128, 128, 128, 0.432);
  /* padding: 10px; */
  height: 280px;
  width: 100%;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

.service-type:hover {
  background-color: rgba(128, 128, 128, 0.5);
  cursor: pointer;
}

.service-prices {
  font-size: 15px;
}

.service-type-price {
  color: var(--primaryLav);
  margin-top: 4px;
}

.main-price {
  font-weight: 800;
  font-size: 18px;
}

.service-type:hover .service-type-price{
  color: var(--darkerLav);
}

.service-type:hover .service-type-img-container .service-type-img {
  transform: scale(1.1)
}

.reversed-type {
  flex-direction: row;
}

.ordered-type {
  flex-direction: row-reverse;
}

/* .grow-animation {
  animation: slightZoom 1s;
} */

.service-type-title {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.service-type-length {
  font-weight: 600;
}

.service-type-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.general-content {
  display: flex;
  flex-direction: column;
}

.price-content {
  display: flex;
  flex-direction: column;
}

.service-type-img-container {
  width: 65%;
  height: 100%;
  overflow: hidden;
}

.service-type-img {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: all .4s ease-in-out;
}
