:root {
  --primaryLav: #a78bda;
  --darkerLav: #7e62b2;
}

* {
  font-family: "inter", sans-serif;
}

body {
  color: black;
  margin: 0;
  padding: 80px;
  /* padding: 0 80px 80px 80px; */
}

.imp {
  font-weight: bold;
}

.section {
  visibility: hidden;
}

.section-animation {
  visibility: visible;
  -webkit-animation: slideUp .8s;
  animation: slideUp .8s;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(46px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@media screen and (max-width: 960px) {
  body {
    padding: 50px;
  }
}
